{% extends 'home.html' %}
{% block main %}
<div class="container mt-1 p-3 rounded-2 cart bg-white">
    <div class="d-flex flex-row align-items-center">
        <span class="ml-2 fw-bold fs-5">รายการกำลังยืม</span>
    </div>
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between "></div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between">
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="align-items-center">
                    <span>เรียงโดย</span>
                    <div class="px-2 me-2 btn btn-outline-dark border-0
                        rounded-pill">ล่าสุด</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form class="d-flex" role="search">
                    <input
                        class="form-control me-2 border-dark"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    >
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1 text-center" scope="col">ลำดับ</th>
                    <th class="col-md-2" scope="col">รายการ</th>
                    <th class="col-md-1 text-center" scope="col">ประเภท</th>
                    <th class="col-md-1 text-center" scope="col">จำนวน</th>
                    <th class="col-md-2 text-center" scope="col">ทำรายการเมื่อ</th>
                    <th class="col-md-2 text-center" scope="col">วันที่ยืม</th>
                    <th class="col-md-2 text-center" scope="col">กำหนดคืน</th>
                    <th class="col-md-4 text-center" scope="col">สถานะ</th>
                </tr>
            </thead>
            <tbody id="xTable">
                {% for AllLoanDurable in AllLoanDurable %}
                <tr class="qrow text-center card-body">
                    <td class="text-center">{{forloop.counter}}</td>
                    <td>
                        <p class="text-start">{{ AllLoanDurable.name }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ AllLoanDurable.type }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ AllLoanDurable.quantity }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ AllLoanDurable.date_add|date:"j N Y" }}</p>
                    </td>
                    <td>
                        <p class="text-center">
                            {{ AllLoanDurable.start_date|date:"j N Y" }}
                        </p>
                    </td>
                    <td>
                        <p class="text-center">
                            {{ AllLoanDurable.end_date|date:"j N Y" }}
                        </p>
                    </td>
                    <td>
                        <p class="text-center">
                            {{ AllLoanDurable.status }}
                        </p>
                    </td>
                    <td>
                        <i class="bi bi-three-dots-vertical"
                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm
                            text-center">
                            {% if AllLoanDurable.status == "กำลังยืม" %}
                            <li>
                                <a class="dropdown-item btn-0
                            data-bs-toggle="modal"
                            data-bs-target="#Return-{{forloop.counter}}">คืนครุภัณฑ์</a>
                            </li>
                            {% elif AllLoanDurable.status == "คืนไม่สำเร็จ" %}
                            <li>
                                <a class="dropdown-item btn-0
                            data-bs-toggle="modal"
                            data-bs-target="#Return-{{forloop.counter}}">คืนครุภัณฑ์อีกครั้ง</a> 
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item btn-0"
                        data-bs-toggle="modal"
                        data-bs-target="#detail-{{forloop.counter}}">รายละเอียด</a> 
                    </li>
                        </ul>
                    </td>
                </tr>
                
                <!-- ยืนยันการคืน -->
                <div
                    class="modal fade"
                    name="Return"
                    id="Return-{{forloop.counter}}"
                    tabindex="-1"
                    aria-labelledby="ReturnModal"
                    aria-hidden="true" >
                    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ReturnModal">
                                    ยืนยันการคืน {{ AllLoanDurable.name }}
                                </h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close" ></button>
                            </div>
                            <div class="modal-footer">
                                <button type="cancer" class="btn btn-secondary
                                    rounded-pill" data-bs-dismiss="modal">
                                    ยกเลิก
                                </button>
                                <a type="submit"
                                    value="ยืนยัน"
                                    class="btn
                                    btn-warning rounded-pill"
                                    href="{% url 'return_durable' AllLoanDurable.id %}" >ยืนยัน</a>
                            </div>
                        </div>
                    </div>
                </div>

                                                <!-- รายละเอียด -->
                                                <div class="modal fade" id="detail-{{forloop.counter}}"
                                                tabindex="-1" aria-labelledby="detailModal"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title fw-bold"
                                                                id="detailModal">รายละเอียดการยืม {{AllLoanDurable.name }} ของ{{AllLoanDurable.user.first_name}}&nbsp{{AllLoanDurable.user.last_name }}</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <span class="fw-bold">รายการครุภัณฑ์ที่ยืม :
                                                            </span><span class="small text-black-50">{{AllLoanDurable.name }}</span><br>
                                                            <span class="fw-bold">จำนวน : </span><span
                                                                class="small text-black-50">{{AllLoanDurable.quantity }}</span><br>
                                                                <span class="fw-bold">หมวดหมู่ : </span><span
                                                                class="small text-black-50">{{AllLoanDurable.type }}</span><br>
                                                                <span class="fw-bold">วันที่ยืม :
                                                                </span><span class="small text-black-50">{{AllLoanDurable.start_date }}</span><br>
                                                                <span class="fw-bold">กำหนดคืน :
                                                                </span><span class="small text-black-50">{{AllLoanDurable.end_date}}</span><br>
                                                                <span class="fw-bold">สถานะ : </span><span
                                                                class="small text-black-50">{{AllLoanDurable.status }}</span><br>
                                                                <span class="fw-bold">เหตุผลการยืม : </span><span
                                                                class="small text-black-50">{{AllLoanDurable.description }}</span><br>
                                                                <span class="fw-bold">เหตุผลจากเจ้าหน้าที่ : </span><span
                                                                class="small text-black-50">{{AllLoanDurable.reasonfromstaff }}</span><br>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
