{% extends 'home.html' %}
{% block class_user_index %}active{% endblock %}
{% block main %}

{% load static %}
<div class=" container-lg py-3 ">
    <!-- รายการยืมบ่อยที่สุด -->
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between ">
            <div>
                <h5 class="fw-bold">รายการทั้งหมด</h5>
            </div>
            <div>
                <a class="text-muted" href="{% url 'user_durable_articles' %}">ดูรายการทั้งหมด</a>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            {% for AllParcel in AllParcel %}
            <div class="card border col-6 col-sm-4 col-md-3 col-lg-2 card-block mx-2" >
                <div class="text-center" data-mdb-ripple-color="light">
                    <img src="{{ AllParcel.image.url | safe }}" style=" object-position: center; max-height: 150px; margin-bottom: 1rem;"/>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title text-dark">Macbook Air M2</h5>
                        <span class="mb-4 text">{{ AllParcel.status }}</span>
                        <a href="{% url 'user_detail' AllParcel.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for AllDurable in AllDurable %}
            <div class="card border col-6 col-sm-4 col-md-3 col-lg-2 card-block mx-2" >
                <div class="text-center" data-mdb-ripple-color="light">
                    <img src="{{ AllDurable.image.url | safe }}" style=" object-position: center; max-height: 150px; margin-bottom: 1rem;" />
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title text-dark">Macbook Air M2</h5>
                        <span class="mb-4">{{ AllDurable.status }}</span>
                        <a href="{% url 'user_detail_durable' AllDurable.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- หมวดหมู่ -->
    <div>
        <div class="bg-white rounded-2 mb-4 px-5 py-3">
            <h5 class="fw-bold">หมวดหมู่</h5>
            <hr>
            {% for i in categoryType.all %}
            <a class=" btn btn-outline-dark rounded-pill me-1 mb-1"
                style="text-decoration: none;"
                href=" /user_durable_articles/?category={{ i.id }}">{{i.name_CategoryType }}</a>
            {% endfor %}
        </div>
    </div>

    <!-- รายการพัสด -->

    <div class="bg-white d-flex justify-content-between rounded-2 mb-4 px-5
        py-3">
        <div>
            <h5 class="fw-bold">รายการวัสดุ</h5>
        </div>
        <div>
            <a class="text-muted" href="{% url 'user_durable_articles' %}">ดูรายการทั้งหมด</a>
        </div>
    </div>

    <div class="row">
        {% for AllParcel in AllParcel %}
        <div class="col-6 col-sm-4 col-md-3 mb-4 ">
            <div class="card border bg-gray ">
                <div class="text-center">
                    <img src="{{ AllParcel.image.url | safe }}" style="
                        object-position: center;
                        max-height: 250px;
                        margin-bottom: 1rem;">
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">{{ AllParcel.name }}</h5>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>สถานะ</span><span>{{ AllParcel.status }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>{{ AllParcel.category }}</span>
                        </div>
                        {% if AllParcel.quantitytype == "∞" %}
                        <div class="d-flex justify-content-between">
                            <span>จำนวน</span><span>{{ AllParcel.quantitytype }} รายการ</span>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-between">
                            <span>จำนวน</span><span>{{ AllParcel.quantity }} รายการ</span>
                        </div>
                        {% endif %}
                    </div>
                    <a href="{% url 'user_detail' AllParcel.id %}"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- รายการครุภัณฑ์ -->
        <div class="">
            <div class="bg-white d-flex justify-content-between rounded-2 mb-4
                px-5 py-3">
                <div>
                    <h5 class="fw-bold">รายการครุภัณฑ์</h5>
                </div>
                <div>
                    <a class="text-muted" href="{% url 'user_durable_articles'
                        %}">ดูรายการทั้งหมด</a>
                </div>
            </div>

            <div class="row">
                {% for AllDurable in AllDurable %}
                <div class="col-6 col-sm-4 col-md-3 mb-4 ">
                    <div class="card border bg-gray ">
                        <div class="text-center">
                            <img src="{{ AllDurable.image.url | safe }}" style="
                                object-position: center;
                                max-height: 250px;
                                margin-bottom: 1rem;">
                        </div>
                        <div class="card-body small">
                            <div class="text-center">
                                <h5 class="card-title">{{ AllDurable.name }}</h5>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between">
                                    <span>สถานะ</span><span>{{ AllDurable.status }}</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>{{AllDurable.category }}</span>
                                </div>
                                {% if AllDurable.quantitytype == "∞" %}
                                <div class="d-flex justify-content-between">
                                    <span>จำนวน</span><span>{{ AllDurable.quantitytype }} รายการ</span>
                                </div>
                                {% else %}
                                <div class="d-flex justify-content-between">
                                    <span>จำนวน</span><span>{{ AllDurable.quantity }} รายการ</span>
                                </div>
                                {% endif %}
                                <div class="d-flex justify-content-between">
                                    <span>จำนวนวันที่อนุญาตให้ยืม</span><span>{{AllDurable.numdate }} วัน</span>
                                </div>
                            </div>
                            <a href="{% url 'user_detail_durable' AllDurable.id %}"
                                class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}