{% extends 'home.html' %}
{% block main %}
<div class="container mt-1 p-3 rounded-2 cart bg-white">
    <div class="d-flex flex-row align-items-center">
        <span class="ml-2 fw-bold fs-5">รายการจองคิววัสดุ</span>
    </div>
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between "></div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between">
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="align-items-center">
                    <span>เรียงโดย</span>
                    <div class="px-2 me-2 btn btn-outline-dark border-0
                        rounded-pill">ล่าสุด</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form class="d-flex" role="search">
                    <input
                        class="form-control me-2 border-dark"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    >
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col">ลำดับ</th>
                    <th scope="col">รายการ</th>
                    <th class="text-center" scope="col">ประเภท</th>
                    <th class="text-center" scope="col">ทำรายการเมื่อ</th>
                    <th class="text-center" scope="col"></th>
                </tr>
            </thead>
            <tbody id="xTable">
                {% for AllQueueParcel in AllQueueParcel %}
                <tr class="qrow text-center card-body">
                    <td class="text-center">{{forloop.counter}}</td>
                    <td>
                        <p class="text-start">{{ AllQueueParcel.name }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ AllQueueParcel.type }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ AllQueueParcel.date_q|date:"j N Y" }}</p>
                    </td>
                    <td>
                        <i class="bi bi-three-dots-vertical"
                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm
                            text-center">
                            <li>
                                <a class="dropdown-item btn-0
                                    btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#cancel-{{forloop.counter}}">ยกเลิกการจองคิว</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                          <!-- ลบข้อมูล -->
          <div class="modal fade" name="cancel" id="cancel-{{forloop.counter}}" tabindex="-1"
          aria-labelledby="cancelModal"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="DcancelModal">ยืนยันการยกเลิกการจอง {{AllQueueParcel.name}}</h5>
                <button type="button" class="btn-close"
                  data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <span class="fw-bold">รายการ : </span><span class="small text-black-50">{{AllQueueParcel.name}}</span>
              </div>
              <div class="modal-body">
                <span class="fw-bold">ยี่ห้อ : </span><span class="small text-black-50">{{ AllQueueParcel.type }}</span>
              </div>
              <div class="modal-body">
                <span class="fw-bold">วันที่ทำรายการ : </span><span class="small text-black-50">{{ AllQueueParcel.date_q|date:"G:m A d M y" }}</span>
              </div>
              <div class="modal-footer">
                <button type="cancer" class="btn btn-secondary rounded-pill"
                  data-bs-dismiss="modal">ยกเลิก</button>
                <a type="submit" value="ยืนยัน" class="btn btn-warning
                  rounded-pill"
                  href="{% url 'delete_queue' AllQueueParcel.id %}">ยืนยัน</a>
              </div>
            </div>
          </div>
        </div>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
