{% extends 'home.html' %} 
{% block main %}

    <div class="container mt-1 p-3 rounded-2 cart bg-white">
        <div class="d-flex flex-row align-items-center">
            <span  class="ml-2 fw-bold fs-5">รายการยืมครุภัณฑ์</span>
        </div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between">
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="align-items-center">
                    <span>เรียงโดย</span>
                    <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ล่าสุด</div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 border-dark" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>

        {% for AllLoanDurable in AllLoanDurable %}
        <div class="container mt-3 p-3 rounded-2 border cart bg-white">
            <div class="row ">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="d-flex text-warning fw-bold  ">{{ AllLoanDurable.status }}</h5>
                            <div class="d-flex "><a>วันที่ต้องการยืม</a> &nbsp <a>{{ AllLoanDurable.start_date }}</a></div>
                            <div class="d-flex "><a>กำหนดคืน</a> &nbsp <a>{{ AllLoanDurable.end_date }}</a></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="ms-4 text-muted">
                                <span>{{ AllLoanDurable.name }}</span><br>
                            </div>
                            <div class="small text-muted fs-6">
                                <span>X {{ AllLoanDurable.quantity }}</span><br>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="ms-3 mb-3">
                        <span>เหตุผลในการยืม</span><br>
                        <span class="text-muted">{{ AllLoanDurable.description }}</span>
                    </div>
                    <hr>
                    {% if AllLoanDurable.status == "รอยืนยันการรับ" %}
                    <div class="ms-3 mb-3">
                        <span>รายละเอียดจากเจ้าหน้าที่</span><br>
                        <span class="text-muted">{{ AllLoanDurable.reasonfromstaff }}</span>
                    </div>
                    {% endif %}
                    
                </div>
                <hr>
                {% if AllLoanDurable.status == "รออนุมัติ" %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-warning rounded-pill" type="button" data-bs-toggle="modal"
                        data-bs-target="#DeleteDurable-{{forloop.counter}}">ยกเลิก</button>
                </div>
                {% else %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success rounded-pill" type="button" data-bs-toggle="modal"
                        data-bs-target="#SuccessDurable-{{forloop.counter}}">ยืนยันการรับ</button>
                </div>
                {% endif %}
            </div>
        </div>
         <!-- ลบข้อมูล -->
         <div class="modal fade" name="DeleteDurable" id="DeleteDurable-{{forloop.counter}}" tabindex="-1"
         aria-labelledby="DeleteDurableModal" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="DeleteDurableModal">
                         คุณต้องการยกเลิกการยืม {{ AllLoanDurable.name }} หรือไม่
                     </h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal"
                         aria-label="Close"></button>
                 </div>
                 <div class="modal-footer">
                     <button type="cancer" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                         ยกเลิก
                     </button>
                     <a type="submit" value="ยืนยัน" class="btn btn-warning rounded-pill"
                         href="{% url 'delete_borrow_durable' AllLoanDurable.id %}">ยืนยัน</a>
                 </div>
             </div>
         </div>
     </div>

          <!-- ยืนยันการรับ -->
          <div class="modal fade" name="SuccessDurable" id="SuccessDurable-{{forloop.counter}}" tabindex="-1"
          aria-labelledby="SuccessDurableModal" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="SuccessDurableModal">
                          ยืนยันการรับ {{ AllLoanDurable.name }} หรือไม่
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                  </div>
                  <div class="modal-footer">
                      <button type="cancer" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                          ยกเลิก
                      </button>
                      <a type="submit" value="ยืนยัน" class="btn btn-warning rounded-pill"
                          href="{% url 'confirm_durable' AllLoanDurable.id %}">ยืนยัน</a>
                  </div>
              </div>
          </div>
      </div>

        {% endfor %}

    </div>
</div>
    <br><br>
{% endblock %}