{% extends 'home.html' %}
{% block main %}

{% if AllParcel %}
<div class="container-lg mt-1 mb-5">

    <div class="card">
        <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img data-toggle="magnify"  src="{{ AllParcel.image.url | safe }}" 
                            width="500">
                    </div>
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ AllParcel.name }} </h3>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">รายการ</label>
                        <p>{{ AllParcel.nametype }}</p>
                    </div>
                    {% if AllParcel.quantitytype == "∞" %}
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">จำนวน</label>
                        <p>{{ AllParcel.quantitytype }} รายการ</p>
                    </div>
                    {% else %}
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">จำนวน</label>
                        <p>{{ AllParcel.quantity }} รายการ</p>
                    </div>
                    {% endif %}
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">สถานะ</label>
                        <p>{{ AllParcel.status }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">หมวดหมู่</label>
                        <p>{{ AllParcel.category }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">สถานะ</label>
                        <p>{{ AllParcel.status }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">ตำแหน่งและชั้นวาง</label>
                        <p>{{ AllParcel.nameposition }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">เพิ่มเข้าระบบตั้งแต่</label>
                        <p>{{ AllParcel.date|date:"G:i l j F Y" }}</p>
                    </div>
                    {% if AllParcel.quantity > 0 or AllParcel.quantitytype == "∞"%}
                    <div class="d-flex flex-row  gap-3">
                        <a class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#AddParcel">
                            ยืมทันที
                        </a>
                        <a href="{% url 'add_to_cart' AllParcel.id %}" class="btn btn-dark rounded-pill addtocart"
                            data-action="add" data-product="{{id}}">
                            เพิ่มลงตะกร้า</a>
                    </div><br>
                    {% else %}
                    <div class="d-flex flex-row  gap-3">
                        <a href="{% url 'add_to_cart' AllParcel.id %}" class="btn btn-dark rounded-pill addtocart"
                            data-action="add" data-product="{{id}}">
                            จองคิว</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white rounded-2 my-2 p-5 d-flex flex-row text-center">
        <div class="col">
            <span class="fw-bold fs-5">คงเหลือ</span>
            <p>{{ AllParcel.quantity }}</p>
        </div>
        <div class="col">
            <span class="fw-bold fs-5">จำนวนคิว</span>
            <p>{{ waiting_qParcel }}</p>
        </div>
        <div class="col">
            <span class="fw-bold fs-5">ยืมไปแล้ว</span>
            <p>{{ AllParcel.borrow_count }}</p>
        </div>
    </div>
    <div class="bg-white rounded-2 my-2 p-5 ">
        <h5>รายละเอียด</h5>
        <hr>
        <p>{{ AllParcel.description }}
        </p>
        <br><br>
    </div>
    <!-- รายการยืมบ่อยที่สุด -->
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between ">
            <div>
                <h5 class="fw-bold">รายการวัสดุทั้งหมด</h5>
            </div>
            <div>
                <a class="text-muted" href="{% url 'user_durable_articles' %}">ดูรายการทั้งหมด</a>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            {% for AllParcelAll in AllParcelAll %}
            <div class="card border col-6 col-sm-4 col-md-3 col-lg-2 card-block mx-2" >
                <div class="text-center" data-mdb-ripple-color="light">
                    <img src="{{ AllParcelAll.image.url | safe }}" style=" object-position: center; max-height: 150px; margin-bottom: 1rem;"/>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title text-dark">{{ AllParcelAll.name }}</h5>
                        <span class="mb-4 text">{{ AllParcelAll.status }}</span>
                        <a href="{% url 'user_detail' AllParcelAll.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row d-flex">
        {% for AllParcelAll in AllParcelAll %}
            <div class="col-6 col-sm-4 col-md-3 mb-4">
                <div class=" card ">
                    <div class="text-center" data-mdb-ripple-color="light">
                        <img src="{{ AllParcelAll.image.url | safe }}" style=" object-position: center; max-height: 250px; margin-bottom: 1rem;"/>
                    </div>
                    <div class="card-body small">
                        <div class="text-center">
                            <h5 class="card-title">{{ AllParcelAll.name }}</h5>
                            <span class="mb-4 text-success">{{ AllParcelAll.status }}</span>
                        </div>
                        <div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>ประเภท</span><span>{{ AllParcelAll.nametype }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>จำนวน</span><span>{{ AllParcelAll.quantity }} รายการ</span>
                            </div>
                        </div>
                        <a href="{% url 'user_detail' AllParcelAll.id %}" class="stretched-link"></a>
                    </div>
                </div>
                {% endfor %}
                {% for AllDurableAll in AllDurableAll %}
            <div class="col-6 col-sm-4 col-md-3 mb-4">
                <div class=" card ">
                    <div class="text-center" data-mdb-ripple-color="light">
                        <img src="{{ AllDurableAll.image.url | safe }}" style=" object-position: center; max-height: 250px; margin-bottom: 1rem;"/>
                    </div>
                    <div class="card-body small">
                        <div class="text-center">
                            <h5 class="card-title">{{ AllDurableAll.name }}</h5>
                            <span class="mb-4 text-success">{{ AllDurableAll.status }}</span>
                        </div>
                        <div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>ประเภท</span><span>{{ AllDurableAll.nametype }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>จำนวน</span><span>{{ AllDurableAll.quantity }} รายการ</span>
                            </div>
                        </div>
                        <a href="{% url 'user_detail_durable' AllDurableAll.id %}" class="stretched-link"></a>
                    </div>
                </div>
        {% endfor %}
    </div>

    <!-- ยืมวัสดุ -->
    <div class="modal fade" name="AddParcel" id="AddParcel" tabindex="-1"
    aria-labelledby="AddParcelmodal" aria-hidden="true">
    <form method="post" action="/add_multiple_to_borrow_parcel" enctype="multipart/form-data" >
        {% csrf_token %}
    <div class="modal-dialog modal-lg
    modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddParcelModal">
                    กรอกข้อมูลการยืมวัสดุ
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                <label class="labels" for="start_date">วันที่ต้องการยืม</label>
                <input id="start_date" name="start_date" type="date" class="form-control rounded-pill">
              </div>
              <div class="col-md-12">
                <label class="labels ps-2" for="description">เหตุผลการยืม</label>
                <textarea id="description" name="description"
                  class="form-control rounded-4"
                  id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                    ยกเลิก
                </button>
                <button type="submit" value="ยืนยัน" class="btn btn-warning rounded-pill">ยืนยัน</button>
            </div>
        </div>
    </form>
    </div>

</div>
{% endif %}
{% endblock %}