{% extends 'homestaff.html' %}
{% block main %}
<div class="container-lg mt-1 mb-5">
    
    <div class="card">
        <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img data-toggle="magnify" src="{{ AllDurable.image.url | safe }}" width="500">
                    </div>
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ AllDurable.name }} </h3>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">รายการ</label>
                        <p>{{ AllDurable.nametype }}</p>
                    </div>
                    {% if AllDurable.quantitytype == "∞" %}
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">จำนวน</label>
                        <p>{{ AllDurable.quantitytype }} รายการ</p>
                    </div>
                    {% else %}
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">จำนวน</label>
                        <p>{{ AllDurable.quantity }} รายการ</p>
                    </div>
                    {% endif %}
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">สถานะ</label>
                        <p>{{ AllDurable.status }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">หมวดหมู่</label>
                        <p>{{ AllDurable.category }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">ประเภท</label>
                        <p>{{ AllDurable.statustype }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">ตำแหน่งและชั้นวาง</label>
                        <p>{{ AllDurable.nameposition }}</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2 fw-bold">เพิ่มเข้าระบบตั้งแต่</label>
                        <p>{{ AllDurable.date|date:"G:i l j F Y" }}</p>
                    </div>
                    <div class="d-flex flex-row  gap-3">
                        <a class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#Delete">
                            ลบ
                        </a>
                        <a class="btn btn-dark rounded-pill addtocart" data-bs-toggle="modal"
                        data-bs-target="#Edit">
                        แก้ไข</a>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-white rounded-2 my-2 p-5 d-flex flex-row text-center">
        {% if AllDurable.quantitytype == "∞" %}
        <div class="col">
            <span class="fw-bold fs-5">คงเหลือ</span>
            <p>{{ AllDurable.quantitytype }}</p>
        </div>
        {% else %}
        <div class="col">
            <span class="fw-bold fs-5">คงเหลือ</span>
            <p>{{ AllDurable.quantity }}</p>
        </div>
        {% endif %}
        <div class="col">
            <span class="fw-bold fs-5">จำนวนคิว</span>
            <p>{{ waiting_qDurable }}</p>
        </div>
        <div class="col">
            <span class="fw-bold fs-5">ยืมไปแล้ว</span>
            <p>{{ AllDurable.borrow_count }}</p>
        </div>
    </div>
    <div class="bg-white rounded-2 my-2 p-5 ">
        <h5>รายละเอียด</h5>
        <hr>
        <p>{{ AllDurable.description }}
        </p>
        <br><br>
    </div>

                    <!-- ลบข้อมูล -->
                    <div class="modal fade" name="Delete" id="DeleteLong-{{forloop.counter}}" tabindex="-1"
                    aria-labelledby="DeleteModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg
                    modal-fullscreen-lg-down">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DeleteModal">
                                    คุณต้องการลบ {{ AllDurable.name }} หรือไม่
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">เลขครุภัณฑ์ : </span><span class="small text-black-50">{{ AllDurable.code }}</span>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">ชื่อครุภัณฑ์ : </span><span class="small text-black-50">{{ AllDurable.name }}</span>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">หมวดหมู่ : </span><span class="small text-black-50">{{ AllDurable.category }}</span>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">สถานะ : </span><span class="small text-black-50">{{ AllDurable.status }}</span>
                            </div>
                            {% if AllDurable.quantitytype == "∞" %}
                            <div class="modal-body">
                                <span class="fw-bold">จำนวน : </span><span class="small text-black-50">{{ AllDurable.quantitytype }}</span>
                            </div>
                            {% else %}
                            <div class="modal-body">
                                <span class="fw-bold">จำนวน : </span><span class="small text-black-50">{{ AllDurable.quantity }}</span>
                            </div>
                            {% endif %}
                            <div class="modal-body">
                                <span class="fw-bold">จำนวนวันที่อนุญาตให้ยืม : </span><span class="small text-black-50">{{ AllDurable.numdate }}</span>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">รายละเอียด : </span><span class="small text-black-50">{{ AllDurable.description }}</span>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">รูปภาพ : </span><img alt="image" class="rounded me-4 thumb-post" src="{{ AllDurable.image.url | safe }}" width="150" height="150">
                            </div>
                            <div class="modal-footer">
                                <button type="cancer" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
                                    ยกเลิก
                                </button>
                                <a type="submit" value="ยืนยัน" class="btn btn-warning rounded-pill"
                                    href="{% url 'delete_staff_manage_durable' AllDurable.id %}">ยืนยัน</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- moal แก้ไขรายการ -->
                <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="EditModal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg
                    modal-fullscreen-lg-down">
                        <form action="{% url 'edit_staff_manage_durable' AllDurable.id %}" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="EditModal">แก้ไขรายการ {{ AllDurable.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <p>
                                        <label for="id_name">แก้ไขชื่อครุภัณฑ์ :</label>
                                        <input type="text" name="name" class="form-control rounded-pill"
                                            maxlength="200" id="id_name" value="{{ AllDurable.name }}">
                                    </p>
                                    <p>
                                        <label for="id_category">เลือกหมวดหมู่ครุภัณฑ์ :</label>
                                        {{ form.category }}
                                    </p>
                                    <p>
                                        <label for="id_status">เลือกสถานะครุภัณฑ์ :</label>
                                        {{ form.status }}
                                    </p>
                                    <p>
                                        <label for="id_quantity">แก้ไขจำนวนครุภัณฑ์ :</label>
                                        <input type="number" name="quantity" class="form-control rounded-pill"
                                            maxlength="200" id="id_quantity" value="{{ AllDurable.quantity }}">
                                    </p>
                                    <p>
                                        <label for="id_numdate">แก้ไขจำนวนวันที่อนุญาตให้่ยืม :</label>
                                        <input type="number" name="id_numdate" class="form-control rounded-pill"
                                            maxlength="200" id="id_numdate" value="{{ AllDurable.numdate }}">
                                    </p>
                                    <p>
                                        <label for="id_description">รายละเอียดครุภัณฑ์ :</label>
                                        <textarea name="description" cols="40" rows="10"
                                            class="form-control rounded-5"
                                            id="id_description">{{ AllDurable.description }}</textarea>
                                    </p>
                                    <p>
                                        <label for="formFileMultiple" class="form-label" for="image">แก้ไขรูปภาพ :</label>
                                        <input id="image" name="image" class="form-control rounded-pill" type="file" id="formFileMultiple" accept="image/*" multiple />
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn
                                btn-secondary rounded-pill" data-bs-dismiss="modal">ยกเลิก</button>
                                    <button type="submit" class="btn btn-warning rounded-pill">ยืนยัน</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


</div>
    {% endblock %}