{% extends 'homestaff.html' %}
{% block main %}
<div class=" container">
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between ">
            <div>
                <h5 class="fw-bold">รายการแนะนำรายการเข้าระบบ</h5>
            </div>
        </div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between">
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="-flex flex-row align-items-center ">
                    <span>เรียงโดย</span>
                    <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ล่าสุด</div>
                    <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ผู้แนะนำ</div>
                    <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">รายการ</div>
                    <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ยี่ห้อ</div>
                    <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ราคา</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form class="d-flex" role="search">
                    <input
                        class="form-control me-2 border-dark"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    >
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row mt-3  mx-5">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-3" scope="col">ผู้แนะนำ</th>
                        <th class="col-md-2" scope="col">รายการ</th>
                        <th class="col-md-1 text-center" scope="col">ยี่ห้อ</th>
                        <th class="col-md-1 text-center" scope="col">จำนวน</th>
                        <th class="col-md-2 text-center" scope="col">ราคาต่อ</th>
                        <th class="col-md-1 text-center" scope="col">ราคารวม</th>
                        <th class="col-md-2 text-center" scope="col">วันที่ทำรายการ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="xTable">
                    {% for AllRecList in page.object_list %}
                    <tr class="qrow text-center">
                        <td class="text-start">
                            <p>{{ AllRecList.username.first_name }}&nbsp{{ AllRecList.username.last_name }}</p>
                        </td>
                        <td>
                            <p class="text-start">{{ AllRecList.name }}</p>
                        </td>
                        <td>
                            <p>{{ AllRecList.brand }}</p>
                        </td>
                        <td>
                            <p>{{ AllRecList.quantity }}</p>
                        </td>
                        <td>
                            <p>{{ AllRecList.price }}</p>
                        </td>
                        <td>
                            <p>{{ AllRecList.total }}</p>
                        </td>
                        <td>
                            <p>{{ AllRecList.datetime|date:"G:m A d M y" }}</p>
                        </td>
                        <td>
                            <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm text-center">
                                <li><a class="dropdown-item btn-0 btn-sm" data-bs-toggle="modal" data-bs-target="#edititemcatecory-{{forloop.counter}}">รับเรื่อง</a>
                            </li>
                                <li>
                                    <a class="dropdown-item btn-0 btn-sm" href="{% url 'staff_introduction_detail' AllRecList.id %}">รายละเอียด</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                     <!-- moal ลบ -->
                     <div class="modal fade" id="edititemcatecory-{{forloop.counter}}" tabindex="-1" aria-labelledby="deleteitemModal" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                            <form action="/staff_introduction_update/{{AllRecList.id}}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="disapprovedModal">ยืนยันการรับเรื่องของ {{ AllRecList.username.first_name }}&nbsp{{ AllRecList.username.last_name }}</h5>
                                        <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-floating" for="status">
                                            <textarea class="form-control"
                                                placeholder="Leave a comment here"
                                                name="status" id="status"
                                                id="floatingTextarea2" style="height:
                                                100px"></textarea>
                                            <label>รายละเอียดการรับเรื่อง เช่น
                                                ระยะเวลาการดำเนินการ</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary
                                            rounded-pill"
                                            data-bs-dismiss="modal">ยกเลิก</button>
                                        <button type="submit" class="btn btn-warning
                                            rounded-pill">ยืนยัน</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                 </div>
                  
                    {% endfor %}
                </tbody>
            </table>
        </table>
        <div class="page-links">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">หน้าก่อนหน้า</a>
            {% endif %}
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">หน้าถัดไป</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
