{% extends 'homestaff.html' %}
{% block main %}

<div class=" container">
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between ">
            <div>
                <h5 class="fw-bold">ข้อมูลการแนะนำรายการเข้าสู่ระบบของ {{ AllRecList.username.first_name }}&nbsp{{ AllRecList.username.last_name }}</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="d-flex col-md-5 ">
                <div class="d-flex"><span>ผู้แนะนำ</span> &nbsp <span
                        class="text-muted">{{ AllRecList.username.first_name}}&nbsp{{ AllRecList.username.last_name }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex"><span>วันที่แนะนำ</span> &nbsp <span
                        class="text-muted">{{ AllRecList.datetime|date:"G:m A l j F Y" }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex "><span>อีเมล</span> &nbsp <span
                        class="text-muted">{{ AllRecList.username.email }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex "><span>เหตุผล</span> &nbsp <span
                        class="text-muted">{{ AllRecList.description }}</span></div>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-between ">
            <div>
                <h5 class="">ข้อมูลการแนะนำรายการเข้าสู่ระบบ</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="d-flex col-md-5 ">
                <div class="d-flex"><span>ชื่อรายการ</span> &nbsp <span
                        class="text-muted">{{ AllRecList.name }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex"><span>ยี่ห้อ</span> &nbsp <span
                        class="text-muted">{{ AllRecList.brand }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex "><span>จำนวน</span> &nbsp <span
                        class="text-muted">{{ AllRecList.quantity }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex "><span>ราคาละ</span> &nbsp <span
                        class="text-muted">{{ AllRecList.price }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex "><span>ราคารวม</span> &nbsp <span
                        class="text-muted">{{ AllRecList.total }}</span></div>
            </div>
            <div class="d-flex col-md-5 ">
                <div class="d-flex "><span>ลิงก์รายการ</span> &nbsp <a class="" href="{{ AllRecList.link }}">{{ AllRecList.link}}</a></div>
            </div>
        </div>
        {% if AllRecList.status == None %}
        <button class="btn btn-success rounded-pill" type="button"
            data-bs-toggle="modal"
            data-bs-target="#approved">รับเรื่อง</button>
        {% else %}
        <hr>
        <div class="d-flex justify-content-between ">
            <div>
                <h5 class="">รายงานสถานะการแนะนำรายการ</h5>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-md-5 ">
                <div class="d-flex"><mark>{{ AllRecList.status }}</mark></div>
                {% endif %}
            </div>
        </div>

        <!-- รับเรื่อง -->
        <div class="modal fade" id="approved" tabindex="-1"
            aria-labelledby="approvedModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                <form action="/staff_introduction_update/{{AllRecList.id}}"
                    method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="disapprovedModal">ยืนยันการรับเรื่องของ {{ AllRecList.username.first_name }}&nbsp{{ AllRecList.username.last_name }}</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-floating" for="status">
                                <textarea class="form-control"
                                    placeholder="Leave a comment here"
                                    name="status" id="status"
                                    id="floatingTextarea2" style="height:
                                    100px"></textarea>
                                <label>รายละเอียดการรับเรื่อง เช่น
                                    ระยะเวลาการดำเนินการ</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary
                                rounded-pill"
                                data-bs-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-warning
                                rounded-pill">ยืนยัน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}