{% extends 'homestaff.html' %}
{% block main %}

<div class="container bg-white px-5 py-3 rounded-2" style="margin-top: 10px;">
    <div>
        <h5 class="fw-bold">การตั้งค่าสถานะ</h5>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- สถานะ -->
        <div class="tab-pane container active" id="category">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th class="col-12">สถานะ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for CategoryStatus in page.object_list %}
                    <tr>
                        <td>
                            <span>{{ CategoryStatus.name_CategoryStatus }}</span>
                        </td>
                        <td>
                            <i class="bi bi-three-dots-vertical"
                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu dropdown-menu-lg-end
                                shadow-sm">
                                <li><a class="dropdown-item btn-0 btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#edititemcatecory-{{forloop.counter}}">แก้ไข</a>
                                </li>
                                <li><a data-bs-toggle="modal"
                                        data-bs-target="#deleteitemcategory-{{forloop.counter}}"
                                        class="dropdown-item btn-0 btn-sm">ลบ</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <div class="modal fade" id="deleteitemcategory-{{forloop.counter}}"
                        tabindex="-1" aria-labelledby="deleteitemModal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg
                            modal-fullscreen-lg-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="edititemModal">ยืนยันการลบข้อมูล</h5>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span class="fw-bold">สถานะ : </span><span class="small text-black-50">{{ CategoryStatus.name_CategoryStatus }}</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn
                                        btn-secondary rounded-pill"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                    <a href="/deleteCategoryStatus/{{CategoryStatus.id }}" type="submit"
                                        class="btn btn-warning rounded-pill">ยืนยัน</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- moal แก้ไขรายการ -->
                    <div class="modal fade" id="edititemcatecory-{{forloop.counter}}" tabindex="-1"
                        aria-labelledby="edititemModal" aria-hidden="true">
                        <div class="modal-dialog modal-lg
                            modal-fullscreen-lg-down">
                            <form action="/edit_staff_setting/{{CategoryStatus.id }}"  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="edititemModal">แก้ไขสถานะ</h5>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <div class="col">
                                            <input type="text" class="form-control rounded-pill" name="name_CategoryStatus" id="name_CategoryStatus" placeholder="{{ CategoryStatus.name_CategoryStatus }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn
                                        btn-secondary rounded-pill"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                    <button type="submit"  class="btn btn-warning rounded-pill">ยืนยัน</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>

                    {% endfor %}
                </tbody>
                <p class="btn btn-outline-dark rounded-pill mt-2"
                    data-bs-toggle="modal"
                    data-bs-target="#additemcatecory">เพิ่มสถานะ</p>
            </table>
        </div>
        <div class="page-links">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">หน้าก่อนหน้า</a>
            {% endif %}
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">หน้าถัดไป</a>
            {% endif %}
        </div>
        <!-- moal เพิ่มรายการ -->
        <div class="modal fade" id="additemcatecory" tabindex="-1"
            aria-labelledby="additemModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                <form method="post" action="/staff_setting_status" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="additemModal">เพิ่มสถานะ</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="mb-3">
                                <div class="col" for="name_CategoryStatus">
                                    <input type="text" class="form-control
                                        rounded-pill" name="name_CategoryStatus"
                                        id="name_CategoryStatus"
                                        placeholder="สถานะ เช่น พร้อมยืม ไม่พร้อมยืม">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary
                                rounded-pill"
                                data-bs-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-warning
                                rounded-pill">ยืนยัน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}