{% extends 'homeAdmin.html' %}
{% block main %}
{% load static %}
<div class=" container ">
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between justify-content: right;"></div>
        <div class="">
            <div class="bg-white rounded-2 mb-4 px-5 py-3">
                <div class="d-flex justify-content-between rounded-2 align-items-center">
                    <div>
                      <h5 class="fw-bold">อีเมลผู้ใช้งานที่สามารถเข้าสู่ระบบได้</h5>
                    </div>
                    <div class="d-flex flex-row">
                      <a class="btn btn-outline-dark rounded-pill ms-2" data-bs-toggle="modal"
                        data-bs-target="#additem">เพิ่มอีเมล</a>
                    </div>
                  </div>
                <div class="d-flex row rounded-2 small fw-bold
                    justify-content-between mt-2">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="-flex flex-row align-items-center ">
                            <span>เรียงโดย</span>
                            <div class="px-2 me-2 btn btn-outline-dark border-0
                                rounded-pill">ใช้งานล่าสุด</div>
                            <div class="px-2 me-2 btn btn-outline-dark border-0
                                rounded-pill">ชื่อ-สกุล</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <form class="d-flex" role="search" action="SearchUser/">
                            <input
                                class="form-control me-2 border-dark"
                                type="search"
                                placeholder="Search"
                                aria-label="Search"
                                name="query"
                                id="query">
                            <button class="btn btn-outline-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="bg-white rounded-2 mb-4 px-2 py-3">
                    <div class="row mt-3">
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th class="col" scope="col">ลำดับ</th>
                                    <th class="col" scope="col">อีเมล</th>
                                </tr>
                            </thead>
                            <tbody id="xTable">
                                {% for AllEmailUser in page.object_list %}
                                <tr class="qrow">
                                    <td>
                                        <p>{{forloop.counter}}</p>
                                    </td>
                                    <td>
                                        <p>{{ AllEmailUser.emailuser }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- เพิ่มรายการ -->
        <div class="modal fade" id="additem" tabindex="-1"
        aria-labelledby="additemModal" aria-hidden="true">
        <form method="post" action="admin_addemail" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="additemModal">เพิ่มผู้ใช้งาน</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="col-md-12">
                  <label class="labels" for="emailuser">ชื่อ</label>
                  <input id="emailuser" name="emailuser" type="email" class="form-control
                    rounded-pill">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill"
                  data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-warning rounded-pill">เพิ่มผู้ใช้งาน</button>
              </div>
            </div>
          </form>
        </div>
</div>

{% endblock %}
