{% extends 'homeAdmin.html' %}
{% block main %}
{% load static %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-right fs-5 fw-bold">ข้อมูลส่วนตัว</p>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">ชื่อ</label>
                        <input
                            type="text"
                            class="form-control rounded-pill text-muted"
                            value="{{AllUser.first_name}}"
                            disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">นามสกุล</label>
                        <input
                            type="text"
                            class="form-control rounded-pill text-muted"
                            value="{{AllUser.last_name}}"
                            disabled>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">อีเมล</label>
                        <input
                            type="email"
                            class="form-control rounded-pill text-muted"
                            value="{{AllUser.email}}"
                            disabled>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">เบอร์โทรศัพท์</label>
                        <td>
                            {% if AllUser.phone == None %}
                            <input type="text" class="form-control rounded-pill text-muted" value="N/A" disabled>
                            {% else %}
                            <input type="text" class="form-control rounded-pill text-muted" value="{{AllUser.phone}}" disabled>
                            {% endif %}
                        </td>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 border-right">
            <div class="p-5 py-5">
                <span class="fs-5 fw-bold">รายงานสิทธิ์และสถานะ</span><br>
                <span class="fw-bold">สิทธิ์ : </span><span class="small">{{ AllUser.right }}</span><br>
                <span class="fw-bold">สถานะ : </span><span class="small">{{ AllUser.status }}</span>
                {% if AllUser.status != "ปกติ" %}
                <hr>
                <span class="fw-bold">ถูกระงับสิทธิ์เมื่อ </span><br>
                <span class="small">{{ AllUser.datestatus }}</span><br><br>
                <span class="fw-bold">ระยะเวลากลับสู่สถานะปกติ </span><br>
                <span class="small">{{ AllUser.deadline }}</span><br><br>
                <span class="fw-bold">เหตุผลการระงับสิทธิ์ </span><br>
                {% if AllUser.reason == None %}
                <span class="small">ผู้ดูแลระบบไม่ได้ระบุเหตุผล</span><br><br>
                {% else %}
                <span class="small">{{ AllUser.reason }}</span><br><br>
                {% endif %}
                <span class="fw-bold">เหตุผลจากเจ้าหน้าที่ </span><br>
                {% if AllUser.reasonfromstaff == None %}
                <span class="small">เจ้าหน้าที่ไม่ได้ระบุเหตุผล</span>
                {% else %}
                <span class="small">{{ AllUser.reasonfromstaff }}</span>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <p class="fs-5 fw-bold">จัดการสิทธิ์</p>
                <p class="btn btn-warning rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#ManageUser">จัดการการระงับสิทธิ์</p>
                    <p data-bs-toggle="modal"
                        data-bs-target="#deleteitemcategory-{{forloop.counter}}"
                        class="btn btn-danger rounded-pill">ลบผู้ใช้</p>
                <i
                    class="material-icons px-2"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="การบล็อค">&#xe88f;</i>
                <hr>
                <div>
                    <p class="fs-5 fw-bold">กิจกรรมการเข้าสู่ระบบ</p>
                    <p class="fw-bold">ครั้งแรกที่เข้ามายังเว็บไซต์</p>
                    <p class="small">{{ AllUser.date_joined|date:"G:i l j F Y" }}</p>
                    <p class="fw-bold">เข้ามายังเว็บไซต์ครั้งสุดท้าย เมื่อ</p>
                    <p class="small">{{ AllUser.last_login|date:"G:i l j F Y" }}</p>
                </div>
            </div>
        </div>

         <!-- moal ลบ -->
         <div class="modal fade" id="deleteitemcategory-{{forloop.counter}}"
         tabindex="-1" aria-labelledby="deleteitemModal"
         aria-hidden="true">
         <div class="modal-dialog modal-lg
             modal-fullscreen-lg-down">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="labels ">ยืนยันการลบ {{AllUser.first_name}}&nbsp{{AllUser.last_name}} </h5>
                     <button type="button" class="btn-close"
                         data-bs-dismiss="modal"
                         aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                    <span class="fw-bold">ชื่อ-สกุล : </span><span class="small text-black-50">{{AllUser.first_name}}&nbsp{{AllUser.last_name}}</span>
                </div>
                <div class="modal-body">
                    <span class="fw-bold">อีเมล : </span><span class="small text-black-50">{{ AllUser.email }}</span>
                </div>
                <div class="modal-body">
                    <span class="fw-bold">สิทธิ์ : </span><span class="small text-black-50">{{ AllUser.right }}</span>
                </div>
                <div class="modal-body">
                    <span class="fw-bold">สถานะ : </span><span class="small text-black-50">{{ AllUser.status }}</span>
                </div>
                {% if AllUser.reason != None %}
                <div class="modal-body">
                    <span class="fw-bold">เหตุผลจากผู้ดูแลระบบ : </span><span class="small text-black-50">{{ AllUser.reason }}</span>
                </div>
                {% endif %}
                {% if AllUser.reasonfromstaff != None %}
                <div class="modal-body">
                    <span class="fw-bold">เหตุผลจากเจ้าหน้าที่ : </span><span class="small text-black-50">{{ AllUser.reasonfromstaff }}</span>
                </div>
                {% endif %}
                <div class="modal-body">
                    <span class="fw-bold">ครั้งแรกที่เข้ามายังเว็บไซต์ : </span><span class="small text-black-50">{{ AllUser.date_joined }}</span>
                </div>
                <div class="modal-body">
                    <span class="fw-bold">เข้ามายังเว็บไซต์ครั้งสุดท้าย : </span><span class="small text-black-50">{{ AllUser.last_login }}</span>
                </div>
                 <div class="modal-footer">
                     <button type="button" class="btn
                         btn-secondary rounded-pill"
                         data-bs-dismiss="modal">ยกเลิก</button>
                     <a href="/delete_user/{{AllUser.id }}" type="submit"
                         class="btn btn-warning rounded-pill">ยืนยัน</a>
                 </div>
             </div>
         </div>
     </div>

        <!-- แก้ไขข้อมูล -->
        <div class="modal fade" id="ManageUser" tabindex="-1"
            aria-labelledby="ManageUserModal" aria-hidden="true">
            <form method="post"
                        action="/admin_user_deadline/{{AllUser.id}}"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-dialog modal-lg
                            modal-fullscreen-lg-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="edititemModal">จัดการสิทธิ์</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label class="labels" for="name">ชื่อ</label>
                                            <input
                                                value="{{AllUser.first_name}}"
                                                type="text"
                                                class="form-control
                                                rounded-pill"
                                                disabled>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels" for="email">อีเมล</label>
                                            <input
                                                value="{{AllUser.email}}"
                                                type="text"
                                                class="form-control
                                                rounded-pill"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label class="labels" for="status">สถานะ</label>
                                            <select
                                                class="form-select rounded-pill"
                                                aria-label=".form-select-lg"
                                                name="status"
                                                id="status">
                                                <option value="ปกติ">ปกติ</option>
                                                <option value="ถูกจำกัดสิทธิ์">ระงับสิทธิ์ชั่วคราว</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels text-danger small" for="deadline">* กรุณาระบุวันที่ทุกครั้ง *</label>
                                            <input class="form-select
                                                rounded-pill" name="deadline"
                                                id="deadline" type="date">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels ps-2" for="reason">เหตุผลการระงับสิทธิ์
                                        </label>
                                        <textarea id="description" name="reason"
                                            name="reason" class="form-control rounded-4"
                                            id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn
                                        btn-secondary rounded-pill"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                    <button type="submit" class="btn btn-warning
                                        rounded-pill">ยืนยันการแก้ไข</button>
                                </div>
                            </div>
                        </form>
            </div>
           
            </div>
        </div>
        {% endblock %}
