{% extends 'homeAdmin.html' %}
{% block main %}
{% load static %}
<div class=" container ">
  <div class="bg-white rounded-2 mb-4 px-5 py-3">
    <div class="d-flex justify-content-between justify-content: right;"></div>
    <div class="">
      <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between row">
          <div class="col-md-12 col-lg-6">
            <h5 class="fw-bold">ผู้ใช้งานที่ถูกระงับสิทธิ์ชั่วคราวในระบบ U
              Borrow U</h5>
          </div>
          <div class="d-flex flex-row col-md-12 col-lg-6 justify-content-end">
            <div>
              <p class="fw-bold">จำนวนผู้ใช้งานที่ถูกระงับสิทธิ์ {{ AllUser_count.count }} คน</p>
            </div>
          </div>
        </div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between
          mt-2">
          <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="-flex flex-row align-items-center ">
              <span>เรียงโดย</span>
              <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ใช้งานล่าสุด</div>
              <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ชื่อ-สกุล</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <form class="d-flex" role="search" action="SearchUser/">
              <input class="form-control me-2 border-dark" type="search"
                placeholder="Search"
                aria-label="Search" name="query" id="query">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="bg-white rounded-2 mb-4 px-2 py-3">
          <div class="row mt-3">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr>
                  <th class="col" scope="col">ชื่อ-สกุล</th>
                  <th class="col" scope="col">ใช้งานล่าสุด</th>
                  <th class="col" scope="col">สิทธิ์</th>
                  <th class="col" scope="col">สถานะ</th>
                  <th class="col" scope="col">ระยะเวลากลับสู่สถานะปกติ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="xTable">
                {% for AllUser in AllUser %}
                <tr>
                  <td>{{ AllUser.first_name }} {{ AllUser.last_name }}</td>
                  <td>{{ AllUser.last_login|date:"G:i A j M Y" }}</td>
                  <td>{{ AllUser.right }}</td>
                  <td>{{ AllUser.status }}</td>
                  <td>
                  {% if AllUser.deadline %}
                  {% if AllUser.deadline <= timezone.now %}
                    ปกติ
                    {% else %}
                    {{ AllUser.deadline|timeuntil }}
                    {% endif %}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                  <i class="bi bi-three-dots-vertical"
                    data-bs-toggle="dropdown" aria-expanded="false"></i>
                  <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm
                    text-center">
                    <li>
                      <a class="dropdown-item btn-0 btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#manageitemcatecory-{{forloop.counter}}">จัดการการระงับสิทธิ์</a>
                    </li>
                    <li>
                      <a class="dropdown-item btn-0 btn-sm" href="{% url 'admin_detail' AllUser.id %}">ข้อมูลส่วนตัว</a>
                    </li>
                  </ul>
                </td>
              </tr>
              <!-- แก้ไขข้อมูล -->
              <div class="modal fade"
                id="manageitemcatecory-{{forloop.counter}}" tabindex="-1"
                aria-labelledby="ManageUserModal" aria-hidden="true">
                <form method="post"
                  action="/admin_user_deadline/{{AllUser.id}}"
                  enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-dialog modal-lg
                    modal-fullscreen-lg-down">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="edititemModal">จัดการสิทธิ์</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row mt-2">
                          <div class="col-md-6">
                            <label class="labels" for="name">ชื่อ</label>
                            <input
                              value="{{AllUser.first_name}}"
                              type="text"
                              class="form-control
                              rounded-pill"
                              disabled>
                          </div>
                          <div class="col-md-6">
                            <label class="labels" for="email">อีเมล</label>
                            <input
                              value="{{AllUser.email}}"
                              type="text"
                              class="form-control
                              rounded-pill"
                              disabled>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-md-6">
                            <label class="labels" for="status">สถานะ</label>
                            <select
                              class="form-select rounded-pill"
                              aria-label=".form-select-lg"
                              name="status"
                              id="status">
                              <option value="ปกติ">ปกติ</option>
                              <option value="ถูกจำกัดสิทธิ์">ระงับสิทธิ์ชั่วคราว</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label class="labels text-danger small"
                              for="deadline">* กรุณาระบุวันที่ทุกครั้ง *</label>
                            <input class="form-select
                              rounded-pill" name="deadline"
                              id="deadline" type="date">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <label class="labels ps-2" for="reason">เหตุผลการระงับสิทธิ์
                          </label>
                          <textarea id="description" name="reason"
                            name="reason" class="form-control rounded-4"
                            id="exampleFormControlTextarea1"
                            rows="3"></textarea>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn
                          btn-secondary rounded-pill"
                          data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-warning
                          rounded-pill">ยืนยันการแก้ไข</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}